<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	layout:decorator="template1.html">
<head>
<meta charset="utf-8">
<title>Insert title here</title>
</head>
<body>
	<div layout:fragment="pagecontent">

		<div class="container mt-5">
			<div class="card">
				<div class="card-header">Liste Des Patients</div>
				<div class="card-body">
					<form method="get" th:action="@{patients}">
						<div class="form-group">
							<label>name</label> <input type="text" name="keyword"
								th:value="${keyword}">
							<button class="btn btn-success">chercher</button>
						</div>

					</form>
					<table class="table">
						<tr>
							<th>ID</th>
							<th>Nom</th>
							<th>Date Naissance</th>
							<th>Malade</th>
							<th>Score</th>
						</tr>
						<tr th:each="p:${patients}">
							<td th:text="${p.id}"></td>
							<td th:text="${p.nom}"></td>
							<td th:text="${p.datNaissance}"></td>
							<td th:text="${p.score}"></td>
							<td th:text="${p.malade}"></td>
							<td sec:authorize="hasRole('ROLE_ADMIN')"><a onclick="return confirm('Are u sure abt dah?!')"
								class="btn btn-danger"
								th:href="@{deletepatient(id=${p.id},keyword=${keyword},page=${currentpage},size=${size})}">Delete</a></td>
								
							<td sec:authorize="hasRole('ROLE_ADMIN')"> <a  class="btn btn-success" th:href="@{editpatient(id=${p.id})}">Edit</a></td>

						</tr>
					</table>
					<ul class="nav nav-pills">
						<li th:each="page,status:${pages}"><a
							th:class="${status.index==currentpage?'btn btn-primary':'btn'}"
							th:href="@{patients(page=${status.index},keyword=${keyword})}"
							th:text="${status.index}"></a></li>
					</ul>

				</div>
			</div>
		</div>

	</div>

</body>
</html>